@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

* {
  background-image: none;
  box-shadow: none;
}

grid {
  padding: 150px 175px;
}

window {
  background-color: transparent;
}

button {
  font-family: CaskaydiaCove Nerd Font Propo;
  font-size: 64px;
  text-decoration-color: @text;
  color: @text;
  background-color: @base;
  border-radius: 0;
  border-color: @surface0;
  border-style: solid;
  border-width: 1px;
}

button:focus,
button:active,
button:hover {
  background-color: @text;
  color: @crust;
  outline-style: none;
}

#lock {
  margin: 50px 0px 0px 50px;
}

#logout {
  margin: 0px 0px 50px 50px;
}

#suspend {
  margin: 50px 0px 0px 0px;
}

#shutdown {
  margin: 50px 50px 0px 0px;
}

#reboot {
  margin: 0px 50px 50px 0px;
}

#hibernate {
  margin: 0px 0px 50px 0px;
}

#lock:active,
#lock:hover,
#logout:active,
#logout:hover,
#suspend:active,
#suspend:hover,
#shutdown:active,
#shutdown:hover,
#reboot:active,
#reboot:hover,
#hibernate:active,
#hibernate:hover {
  background-color: @pink;
  margin: 0px;
}
